$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";

@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/title";

@import "~bulma/sass/form/all";

@import "~bulma/sass/components/message";
@import "~bulma/sass/components/navbar";

// Custom
@import "pages/login";

html {
  height: 100%;
  background: $light;
}

body {
  min-height: 100%;
}
