<html lang="fr">
<head>
    <title>Platform Installer - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<header>
    {% block navbar %}
        {% include 'navbar/navbar.html.twig' %}
    {% endblock %}
</header>
{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
</body>
</html>