<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="#" class="image">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>
        </div>
        <div class="navbar-end">
            {% if user %}
                <div class="navbar-item"><strong>{{ user.username }}</strong></div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="{{ path('logout') }}">
                            Logout
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>