{% extends '../layout.html.twig' %}

{% block body %}
    <main class="login-container">
        <div class="login">
            <h3 class="title">Log In</h3>
            {% if error is defined %}
                <article class="message is-danger">
                    <div class="message-body">{{ error }}</div>
                </article>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" name="username" placeholder="Username"{% if lastUsername %} value="{{ lastUsername }}"{% endif %} autofocus="autofocus">
                        <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="password" placeholder="Password">
                        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                    </p>
                </div>
                <button type="submit" class="button is-primary is-fullwidth">Submit</button>
            </form>
        </div>
    </main>
{% endblock %}