.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login {
  width: 360px;
  padding: 1rem;
  border: 1px solid $border;
  border-radius: 5px;
  background: $white;
}